* {
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
		Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	color: #fff;
}
body {
	height: 95vh;
	width: 100vw;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	background: url(./backgroung.jpg);
	background-size: cover;
}
h3 {
	padding-top: 15px;
}
.header {
	padding: 15px 50px;
	margin-bottom: 10px;
	border-radius: 15px;
	background: rgba(19, 36, 62, 0.87);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	box-shadow: 0 0 15px rgba(37, 71, 122, 0.87);
}
.memory-game {
	width: 440px;
	height: 330px;
	display: flex;
	flex-wrap: wrap;
	perspective: 800px;
}

.memory-card {
	width: 100px;
	height: 100px;
	margin: 5px;
	position: relative;
	transform: scale(1);
	transform-style: preserve-3d;
	transition: transform 0.5s;
	border-radius: 15px;
	box-shadow: 1px 1px 1px rgba(70, 113, 179, 0.87);
}

.memory-card:active {
	transform: scale(0.97);
	transition: transform 0.2s;
}

.memory-card.flip {
	transform: rotateY(180deg);
}

.front-face,
.back-face {
	width: 100%;
	height: 100%;
	padding: 10px;
	position: absolute;
	border-radius: 15px;
	background: #ffffff;
	backface-visibility: hidden;
}

.front-face {
	transform: rotateY(180deg);
}

@media screen and (max-width: 480px) {
	body {
		height: 100vh;
		width: 100vw;
	}
	h1 {
		font-size: 20px;
	}
	.memory-game {
		width: 243px;
		height: 324px;
	}
	.memory-card {
		width: 75px;
		height: 75px;
		margin: 3px;
	}
	.front-face,
	.back-face {
		padding: 3px;
	}
}
